<h2 align= "center">Welcome to ChatMe </h2>
<h4 class="ui center aligned icon header">
  <i class="circular blue smile outline icon"></i>
</h4>

<p style="text-align:center"> Say something to your friends!</p>

<div class="ui two column grid">
    <div class="twelve wide column">
        <div class="ui fluid raised card chatbox">
            
                <div class = "content">
                    <%= render @messages %>
                </div>
                <div class="extra content">
                    <div class="ui fluid action input">
                        <input type="text" placeholder="Say something...">
                        <div class="ui blue button"><i class="large comments  icon"></i></div>
                    </div>
                </div>
            
        </div>
    </div>
    <div class="four wide column">
        
            <div class="ui fluid raised card chatbox">
                <div class="content">
                    <div class="ui inverted blue vertical menu">
                    <a class="active item">
                        Home
                    </a>
                    <a class="item">
                        Messages
                    </a>
                    <a class="item">
                        Friends
                    </a>
                    </div>
                    
                </div>
            </div>
        
    </div>
</div>