<div class="ui feed">
    <div class="event">
        <div class="content">
            <div class="summary">
                <em><span class = "username"> <%=message.user.username%></span>: </em> <%= message.message%>
            </div>
        
        </div>
    </div>
</div>